## What's Changed

{% macro render_section(title, keys) -%}
{%- set printed = false -%}
{%- for type_, commits in release["elements"] | dictsort -%}
  {%- if type_ | lower in keys and commits | length > 0 -%}
    {%- if not printed -%}
### {{ title }}
      {%- set printed = true -%}
    {%- endif -%}
    {%- for commit in commits -%}
* {{ commit.descriptions[0] | capitalize }} by {{ commit.commit.author.name }} in [`{{ commit.hexsha[:7] }}`]({{ commit.hexsha | commit_hash_url }})
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}
{%- endmacro %}

{% if release.get("breaking_changes") and release["breaking_changes"] | length > 0 %}
### Breaking Changes
{% for change in release["breaking_changes"] %}
* {{ change | trim }}
{% endfor %}
{% endif %}

{{ render_section("Features", ["feature", "features", "feat"]) }}
{{ render_section("Bug Fixes", ["fix", "bugfix", "bug fixes", "bugfixes"]) }}
{{ render_section("Performance Improvements", ["perf", "performance"]) }}
{{ render_section("Documentation", ["docs", "documentation"]) }}
{{ render_section("Dependencies", ["deps", "dependencies", "build"]) }}
{{ render_section("Other", ["chore", "ci", "refactor", "style", "test", "unknown"]) }}
